* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}
nav {
    width: 100%;
    height: 100vh;
    background-color: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: ;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}