* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
section {

    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(to left,red, yellow); */
    /* background-image: linear-gradient(to right,red, yellow); */
    /* background-image: linear-gradient(to bottom,red, yellow); */
    /* background-image: linear-gradient(to top,red, yellow); */
    /* background-image: linear-gradient(to bottom right,red, yellow); */
    /* background-image: linear-gradient(to bottom left,red, yellow); */
    /* background-image: linear-gradient(to top right,red, yellow); */
    /* background-image: linear-gradient(to top left,red, yellow); */
    background-image: radial-gradient(red,yellow);
}