* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
section {

    width: 100%;
    height: 100vh;
    /* background-image: repeatinglinear-gradient(to bottom right, red, yellow 500px); */
    background: linear-gradient(90deg,
    rgba(37, 47, 89, 1) , 
    rgba(100, 217, 148, 1) , 
    rgba(145, 133, 22, 1) );
    
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}