* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    /* background-color: hsl(0, 0%, 94%); */
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20201026/pngtree-futuristic-shape-abstract-background-chemistry-technology-concept-for-website-image_438818.jpg"),url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=pexels-pixabay-531880.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-size: 100% ,100%;
    /* background-position: left bottom; */
    background-blend-mode: difference;

}