* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.section-1 {

    width: 100%;
    height: 100vh;
    background-image: url("https://burst.shopifycdn.com/photos/fashion-toronto-watch.jpg?width=1000&format=pjpg&exif=0&iptc=0");
    background-repeat: no-repeat;
    background-size: 100%,100%;
    display: grid;
    place-items: center;
    text-align: center;
    background-attachment: fixed;
}
.section-2 {

    background-image: url("https://cdn.wallpapersafari.com/31/25/aHymdQ.jpg");
    background-repeat: no-repeat;
    background-size: 100%,100%; 
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    display: grid;
    place-items: center;
    text-align: center;
}
.section-3 {

    background-image: url("https://burst.shopifycdn.com/photos/bearded-young-man.jpg?width=1000&format=pjpg&exif=0&iptc=0");
    background-repeat: no-repeat;
    background-size: 100%,100%; 
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    display: grid;
    place-items: center;
    text-align: center;
}
.section-4 {

    background-image: url("https://rmax.ae/wp-content/uploads/2025/07/Al-Reem-Island-in-Abu-Dhabi-1000x667-1.jpg");
    background-repeat: no-repeat;
    background-size: 100%,auto; 
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    display: grid;
    place-items: center;
    text-align: center;
}
h2 {
    font-size: 64px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 5px black;
}
p {
    font-size: 20px;
    color: white;
}