* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
h1 {
    display: inline-block;
    background-image: linear-gradient(90deg,rgba(37, 47, 89, 1) 0%, rgba(100, 217, 148, 1) 50%, rgba(145, 133, 22, 1) 100%);
    /* color: white; */
    width: 400px;
    height: 400px;
    padding: 40px;
    margin: 40px;
}
p {
    display: inline;
}