* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    height: 100vh;
    width: 100%;
    background-color: rgb(29, 28, 28);
    display: grid;
    place-items: center;
}
.login-banner {
    height: 50%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.288);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: white;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.274);
    box-shadow: inset;
}
.welcome-banner {
    font-size: xx-large;
    font-weight: 600;
}
.login-btn {
    padding: 10px;
    width: 200px;
    font-size: medium;
    border-radius: 20px;
    background-color: rgb(16, 161, 82);
    border: 1px solid rgb(16, 161, 82);
    cursor: pointer;
    color: black;
    font-weight: 500;
}
.login-with-number {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.country-selection {
    padding: 15px;
    width: 320px;
    border-radius: 25px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left {
    display: flex;
    gap: 10px;
}
.country-code-selection {
    max-height: 250px;
    width: 280px;
    background-color: white;
    border-radius: 10px;
    overflow-y: auto;
    top: 400px;
}
.country-code-selection::-webkit-scrollbar {
  width: 6px;
}
.country-code-selection::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.country-code-selection::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.country-code-selection::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.search-bar {
    width: 90%;
    padding: 10px;
    display: block;
    margin: auto;
    border-radius: 20px;
    margin-top: 10px;
    border: 1px solid grey;
}
.search-bar:focus {
    
    outline: none;
    border: 2px solid green;
    
}
.search-bar:hover {

    background-color: rgb(236, 234, 234);
    border: 1px solid g;
}
li {
    list-style: none;
    color: black;
    padding: 10px;
    margin: 5px 5px;
    border-radius: 10px;
}
li:hover {
  background-color: rgb(218, 215, 215);  
}
.telephone-number {

    padding: 15px;
    width: 320px;
    border-radius: 25px;
    border: 1px solid black;
}
.telephone-number:focus {
    outline: none;
}
.next-button {
    margin-top: 50px;
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(16, 161, 82);
    border: 1px solid rgb(16, 161, 82);
    color: white;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
}
