* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1 {
    
    padding: 20px;
    background-color: chartreuse;
    text-align: center;
    margin: 20px;
}

p {
    background-color: #BDE8F5;
    padding: 30px;
    text-align: center;
    margin: 20px;
    padding: 10px;
}