* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {

    width: 100%;
    height: 100vh;
    background-color: hsl(0, 0%, 60%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1 {

    width: 400px;
    height: 400px;
    background-color: white;
    box-shadow: 10px 10px 20px 30px gray;
}